@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300&display=swap');

body {
    font-family: 'Ubuntu', sans-serif !important;
    background-color: #dfefe8 !important;
}

.landing {
    background: white url("assets/bg-landing.jpg") no-repeat scroll center;
    height: 100vh;
    background-size: cover;
    color: #58b087;
}

.wrapper {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
}